<%- include('header') %>
    
    <div id="container">
        <%- include('sidebar') %>

            <div id="content">
                <h1>Test Patient</h1>
            </div>
    </div>
<%- include('footer') %>